<p class="text-title h72 m0 bm8 layout-row layout-align-start-center">
	Checkbox
</p>

<div class="demo-tab" ng-init="withInk = true; withoutInk = false">
	<md-checkbox ng-model="withInk">
		With Ink | Model : {{withInk}}
	</md-checkbox>
	<md-checkbox ng-disabled="true" ng-model="withInk">
		Disabled {{withInk}}
	</md-checkbox>
	<md-checkbox md-no-ink ng-model="withoutInk">
		Without Ink | Model : {{withoutInk}}
	</md-checkbox>
	<md-checkbox ng-disabled="true" ng-model="withoutInk">
		Disabled {{withoutInk}}
	</md-checkbox>
</div>
