
<p class="text-title h72 m0 bm8" layout="row" layout-align="start center">
    Date Picker
</p>

<p class="text-subhead2 h48 m0 bm8 tm8" layout="row" layout-align="start center">Primary</p>
<md-datepicker ng-model="data.startDate"
               md-placeholder="startLabel"
               ng-change="onChangeStartDate()"
               aria-label="START-DATE">
</md-datepicker>

<p ng-if="data.showDate">
    You choose date: {{data.showDate}}
</p>

<p class="text-subhead2 h48 m0 bm8 tm8" layout="row" layout-align="start center">Disabled</p>
<md-datepicker ng-model="data.disabledDate"
               md-placeholder="Label"
               disabled="data.disabled"
               aria-label="DISABLED-DATE">
</md-datepicker>