<style>
    button {
        margin-right: 8px !important;
    }
</style>
<div>

    <p class="text-title h72 m0 bm8 layout-row layout-align-start-center">
        Dialog
    </p>

    <md-button class="md-primary md-raised lm0 flex-sm-100 flex-md-100 flex-gt-md-auto" ng-click="showAlert($event)">
        Alert Dialog
    </md-button>
    <md-button class="md-primary md-raised flex-sm-100 flex-md-100 flex-gt-md-auto" ng-click="showConfirm($event)">
        Confirm Dialog
    </md-button>
    <md-button class="md-primary md-raised flex-sm-100 flex-md-100 flex-gt-md-auto" ng-click="showAdvanced($event)">
        Custom Dialog
    </md-button>
    <div hide-gt-sm class="layout-row layout-align-center-center flex">
        <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen</md-checkbox>
    </div>
    <md-button class="md-primary md-raised flex-sm-100 flex-md-100 flex-gt-md-auto" ng-click="showTabDialog($event)">
        Tab Dialog
    </md-button>
</div>
