<!DOCTYPE html>
<html class="no-scroll">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Angular Material Controls</title>

    <link rel="stylesheet" href="../../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../../dist/pip-webui-css.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <script src="../../lib/pip-webui-lib.js"></script>

    <script src="index.js"></script>
    <script src="bottom_sheet.js"></script>
    <script src="button.js"></script>
    <script src="colors.js"></script>
    <script src="checkbox.js"></script>
    <script src="chips.js"></script>
    <script src="card.js"></script>
    <script src="datepicker.js"></script>
    <script src="divider.js"></script>
    <script src="input.js"></script>
    <script src="progress.js"></script>
    <script src="radio_button.js"></script>
    <script src="select.js"></script>
    <script src="toggle_buttons.js"></script>
    <script src="toolbar.js"></script>
    <script src="list.js"></script>
    <script src="menu.js"></script>
    <script src="dialog.js"></script>
    <script src="flexbox.js"></script>
</head>

<body ng-app="appMaterial" ng-controller="AppController" class="layout-column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="menu" 
                ng-click="onToggleMenu()" hide-gt-sm>
                <md-icon md-svg-icon="icons:menu"></md-icon>
            </md-button>
            <span>Angular Material Controls</span>
        </div>
    </md-toolbar>
        
    <div class="layout-row flex">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" 
            class="md-whiteframe-z2 md-sidenav-left layout-column">
            <md-list>
                <md-list-item ng-repeat="contentItem in content" 
                    ng-click="onSwitchPage(contentItem.state)"
                    ng-class="{ 'selected-state': isActiveState(contentItem.state) }">
                    <p ui-sref="{{contentItem.state}}">{{contentItem.title}}</p>
                </md-list-item>
            </md-list>
        </md-sidenav>
        
        <md-content id="content" class="flex p16">
            <div ui-view></div>            
        </md-content>
    </div>
</body>
</html>