// $file Positions Variables
// $copyright Digital Living Software Corp. 2014-2015

// Layout
// -----------------------

$baseline-grid:            8px;
$layout-breakpoint-sm:     768px;
$layout-breakpoint-md:     1200px;
$layout-breakpoint-lg:     1400px;
$layout-gutter-width:      ($baseline-grid * 2);


// Z-indexes
//--------------------------------------------

$z-index-tooltip: 			100;
$z-index-menu: 				99;
$z-index-select: 			99;
$z-index-dialog: 			80;
$z-index-toast: 			90;
$z-index-bottom-sheet: 		70;
$z-index-scroll-mask: 		65;
$z-index-sidenav: 			60;
$z-index-backdrop: 			50;
$z-index-fab: 				20;