// $file Typography mixins
// $copyright Digital Living Software Corp. 2014-2015

@mixin text-hide() {
  font: "0/0";
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@mixin text-overflow() {
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

// Optional hyphenation
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
     -moz-hyphens: $mode;
      -ms-hyphens: $mode; // IE10+
       -o-hyphens: $mode;
          hyphens: $mode;
}
