<p class="text-title h72 m0 bm8 layout-row layout-align-start-center">
    Reference expander control.
</p>

<p class="text-subhead2 h48 m0 bm8 layout-row layout-align-start-center">
    Example
</p>

<img src="http://i.imgur.com/uy5OKDg.png" class="bm24">

<div class="pip-ref-expander layout-row layout-align-start-center">
    <md-button class="flex">
        <div class="layout-row layout-align-start-center">
            <img src="https://pp.vk.me/c7011/v7011865/1153b/t6q_l-LGOf4.jpg" class="pip-pic" ng-click="showAlert($event)">
            <div class="pip-content" flex>
                <p class="pip-title">{{item.name}}</p>

                <p class="pip-subtitle">{{item.status1}} {{item.status2}}</p>
            </div>
            <md-icon md-svg-icon="icons:triangle-down" class="pip-chevron"></md-icon>
        </div>
    </md-button>
</div>

<div class="pip-ref-expander layout-row layout-align-start-center">
    <md-button class="flex">
        <div class="layout-row layout-align-start-center">
            <img src="https://pp.vk.me/c7011/v7011865/1153b/t6q_l-LGOf4.jpg" class="pip-pic" ng-click="showAlert($event)">
            <div class="pip-content" flex>
                <p class="pip-title">
                    <md-icon md-svg-icon="icons:forward-all"></md-icon>
                    {{item.name}}
                </p>
                <p class="pip-subtitle">
                    <md-icon md-svg-icon="icons:world"></md-icon>
                    <span>{{item.status1}}</span>
                    <span>{{item.status2}}</span></p>
            </div>
            <md-icon md-svg-icon="icons:triangle-down" class="pip-chevron"></md-icon>
        </div>
    </md-button>
</div>

<div class="pip-ref-expander layout-row layout-align-start-center">
    <md-button flex>
        <div class="layout-row layout-align-start-center">
            <img src="https://pp.vk.me/c7011/v7011865/1153b/t6q_l-LGOf4.jpg"
                 class="pip-pic-sm" ng-click="showAlert($event)">
            <div class="pip-content" flex>
                <p class="pip-title">
                    <md-icon md-svg-icon="icons:forward-all"></md-icon>
                    {{item.name}}
                </p>
                <p class="pip-subtitle">
                    <md-icon md-svg-icon="icons:world"></md-icon>
                    <span>{{item.status1}}</span>
                </p>
            </div>
            <md-icon md-svg-icon="icons:triangle-down" class="pip-chevron"></md-icon>
        </div>
    </md-button>
</div>

<div class="pip-ref-expander layout-row layout-align-start-center">
    <md-button class="flex">
        <div class="layout-row layout-align-start-center">
            <img src="https://pp.vk.me/c7011/v7011865/1153b/t6q_l-LGOf4.jpg" class="pip-pic-sm" ng-click="showAlert($event)">
            <div class="pip-content" flex>
                <p class="pip-title">
                    <md-icon md-svg-icon="icons:forward-all"></md-icon>
                    {{item1.name}}
                </p>
                <p class="pip-subtitle">
                    <md-icon md-svg-icon="icons:world"></md-icon>
                    <span>{{item1.status1}}</span>
                </p>
            </div>
            <md-icon md-svg-icon="icons:triangle-down" class="pip-chevron"></md-icon>
        </div>
    </md-button>
</div>

<div class="pip-ref-expander layout-row layout-align-start-center">
    <md-button class="flex">
        <div class="layout-row layout-align-start-center">
            <div class="pip-content" flex>
                <p class="pip-title">
                    <md-icon md-svg-icon="icons:forward-all"></md-icon>
                    {{item.name}}
                </p>
                <p class="pip-subtitle">
                    <md-icon md-svg-icon="icons:world"></md-icon>
                    <span>{{item.status1}}</span>
                </p>
            </div>
            <md-icon md-svg-icon="icons:triangle-down" class="pip-chevron"></md-icon>
        </div>
    </md-button>
</div>