// @file Control styles
// @copyright Digital Living Software Corp. 2014-2015

// Scrolling
//------------

.scroll { @include scroll() }
.no-scroll { @include no-scroll() }
.scroll-no { @include no-scroll() }
.scroll-x { @include scroll-x() }
.scroll-y { @include scroll-y() }

// Cursors
//-------------

.pointer        { cursor: pointer; }
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default !important; }
.cursor-auto    { cursor: auto; }
.cursor-move    { cursor: move; }


.disabled {
  cursor: auto;
  color: $color-secondary;
}