<div class="app-animation">
    
    <h2>Animations</h2>
    <div class="color">text</div>

    <button ng-click="clicked = true">Fade</button>
    <div class="fade"
         ng-class="{ in: clicked }">Fade</div>

    <button ng-click="clicked1 = true">collapse</button>
    <div class="collapse"
         ng-class="{ in: clicked1 }">collapse</div>

    <div class="grow"  ng-click="clicked2 = true"
         ng-class="{ in: clicked2 }">Grow</div>

    <button ng-click="clicked4 = true">rotate</button>
    <div class="rotate"
         ng-class="{ in: clicked4 }"> rotate</div>
</div>