<p class="md-caption tm0 theme-text-secondary">Theme</p>
<md-select ng-model="useTheme" ng-disabled="transaction.busy()"
           placeholder="'Theme'">
        <md-option ng-value="theme" ng-repeat="theme in themes">{{theme}}</md-option>
</md-select>

<div class="{{useTheme}}">
        <p>{{useTheme}}</p>
        <div class="color-primary">             color-primary</div>
        <div class="color-primary-bg">          color-primary-bg</div>
        <div class="color-accent">              color-accent</div>
        <div class="color-accent-bg">           color-accent-bg</div>
        <div class="color-hue">                 color-hue</div>
        <div class="color-hue-bg">              color-hue-bg</div>
        <div class="color-primary-text">        color-primary-text</div>
        <div class="color-secondary-text">      color-primary-text</div>
        <div class="color-divider">             color-divider</div>
        <div class="color-error">               color-error</div>
        <div class="color-badge">               color-badge</div>
        <div class="color-badge-bg">            color-badge-bg</div>
        <div class="color-toast">               color-toast</div>
        <div class="color-content-bg">          color-content-bg</div>
        <div class="color-window-bg">           color-window-bg</div>
</div>

