// $file Pallette colors
// $copyright Digital Living Software Corp. 2014-2015

// Named Colors
//-----------------

.bg-purple     { background-color: $color-purple; }
.border-purple { border-color: $color-purple; }
.fg-purple     { color: $color-purple !important; }

.bg-light-green     { background-color: $color-light-green; }
.border-light-green { border-color: $color-light-green; }
.fg-light-green     { color: $color-light-green  !important; }

.bg-green { background-color: $color-green; }
.border-green { border-color: $color-green; }
.fg-green { color: $color-green  !important; }

.bg-dark-red        { background-color: $color-dark-red; }
.border-dark-red    { border-color: $color-dark-red; }
.fg-dark-red        { color: $color-dark-red  !important; }

.bg-pink            { background-color: $color-pink; }
.border-pink        { border-color: $color-pink; }
.fg-pink            { color: $color-pink  !important; }

.bg-cyan            { background-color: $color-cyan; }
.border-cyan        { border-color: $color-cyan; }
.fg-cyan            { color: $color-cyan  !important; }

.bg-deep-orange     { background-color: $color-deep-orange; }
.border-deep-orange { border-color: $color-deep-orange; }
.fg-deep-orange     { color: $color-deep-orange  !important; }

.bg-teal            { background-color: $color-teal; }
.border-teal        { border-color: $color-teal; }
.fg-teal            { color: $color-teal  !important; }

// Numeric Colors
//---------------------

.bg-color-0 { background-color: $color-0; }
.bg-color-1 { background-color: $color-1; }
.bg-color-2 { background-color: $color-2; }
.bg-color-3 { background-color: $color-3; }
.bg-color-4 { background-color: $color-4; }
.bg-color-5 { background-color: $color-5; }
.bg-color-6 { background-color: $color-6; }
.bg-color-7 { background-color: $color-7; }
.bg-color-8 { background-color: $color-8; }
.bg-color-9 { background-color: $color-9; }
.bg-color-10 { background-color: $color-10; }
.bg-color-11 { background-color: $color-11; }
.bg-color-12 { background-color: $color-12; }
.bg-color-13 { background-color: $color-13; }
.bg-color-14 { background-color: $color-14; }
.bg-color-15 { background-color: $color-15; }
