// Functional Colors
//----------------------------

$color-primary:                   rgba(0, 0, 0, 0.87);
$color-secondary:                 rgba(0, 0, 0, 0.54);
$color-disabled:                  rgba(0, 0, 0, 0.38);
$color-error:                     rgb(244, 67, 54);
$color-badge:                     rgba(255, 82, 82, 1);
$color-toast:                     rgba(46, 46, 46, 1);
$color-divider:                   rgba(0, 0, 0, 0.12);
$color-window:                    rgb(238, 238, 238);
$color-content:                   rgb(250, 250, 250);

// Named Pallette Colors
//------------------------------

$color-purple:                    #AB47BC;
$color-light-green:               #8BC34A;
$color-green:                     #4CAF50;
$color-dark-red:                  #B71C1C;
$color-pink:                      #E91E63;
$color-cyan:                      #00BCD4;
$color-deep-orange:               #FF5722;
$color-teal:                      #00796B;

// Numeric Pallette Colors
//------------------------------

$color-0:                #ef5350;
$color-1:                #ec407a;
$color-2:                #ab47bc;
$color-3:                #7e57c2;
$color-4:                #5c6bc0;
$color-5:                #03a9f4;
$color-6:                #00bcd4;
$color-7:                #009688;
$color-8:                #4caf50;
$color-9:                #8bc34a;
$color-10:               #cddc39;
$color-11:               #ffc107;
$color-12:               #ff9800;
$color-13:               #ff5722;
$color-14:               #795548;
$color-15:               #607d8b;