// $file Visual effects CSS styles
// $copyright Digital Living Software Corp. 2014-2015

// Dividers as borders
//---------------------

.no-divider {
  border: none !important;
}

.divider {
  border: $divider-border;
}

.divider-bottom {
    border-bottom: $divider-border;
}

.divider-top {
    border-top: $divider-border;
}

.divider-left {
    border-left: $divider-border;
}

.divider-right {
    border-right: $divider-border;
}

.divider-bottom-dashed {
    border-bottom: $divider-border;
    border-bottom-style: dashed;
}

.divider-top-dashed {
  border-top: $divider-border;
  border-top-style: dashed;
}

.opacity-secondary {
  opacity: $opacity-secondary;
}

.opacity-primary {
  opacity: $opacity-primary;
}

.opacity-disabled {
  opacity: $opacity-disabled;
}