// @file Composition of effects styles
// @copyright Digital Living Software Corp. 2014-2015

@import "animation_mixins";
@import "transform_mixins";
@import "transition_mixins";
@import "animation";

@import "effects_var";
@import "effects_mixins";
@import "effects_styles";
