@mixin transition($transition) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// .transition ($webkit-transition,$moz-transition, $ms-transition, $o-transition) {
// 	-webkit-transition: $webkit-transition;
// 	-moz-transition:    $moz-transition;
// 	-ms-transition:     $ms-transition;
// 	-o-transition:      $o-transition;
// }

@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
          transition-property: $transition-property;
}
// .transition-property ($webkit-transition, $moz-transition, $ms-transition, $o-transition,$transition) {
//   -webkit-transition-property: $webkit-transition;
//   -moz-transition-property:    $moz-transition;
//   -ms-transition-property:     $ms-transition;
//   -o-transition-property:      $o-transition;
//   transition-property:         $transition;
// }

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration:    $duration;
  -ms-transition-duration:     $duration;
  -o-transition-duration:      $duration;
  transition-duration:         $duration;
}

@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
          transition-timing-function: $timing-function;
}

@mixin transition-transform($transition) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}
